
<div class="trigger">
    <a class="page-link" href="{{ "/doc/class_info" | relative_url }}">Class Info</a>
    <a class="page-link" href="{{ "/doc/resources" | relative_url }}">Resources</a>
    <a class="page-link" href="{{ "/doc/topics" | relative_url }}">Topics</a>
    <a class="page-link" href="{{ "/doc/schedule" | relative_url }}">Schedule</a>
    <a class="page-link" href="{{ "/doc/assignments " | relative_url }}">Assignments</a>
    <a class="page-link" href="{{ "/about" | relative_url }}">About</a>
    <br/><hr/><br/>
    <!--
    <a class="page-link" href="{{ "/hello" | relative_url }}">Hello</a>
    -->
    <a class="page-link" href="{{ "/1.1-1.3_3D_Vectors_DotProduct" | relative_url }}">1.1-1.3 3D, Vectors, Dot Product</a>
    <a class="page-link" href="{{ "/1.4_matrices_determinants" | relative_url }}">1.4 Matrices and determinants</a>
    <a class="page-link" href="{{ "/1.5_cross_product" | relative_url }}">1.5 Cross product</a>
    <a class="page-link" href="{{ "/1.6_lines_planes" | relative_url }}">1.6 Lines and planes</a>
    <a class="page-link" href="{{ "/1.7_cylindrical_spherical" | relative_url }}">1.7 Cyl/Sphere Coordinates</a>
    <a class="page-link" href="{{ "/1.8_projection_regression" | relative_url }}">Bonus: Projection and Regression</a>
    <a class="page-link" href="{{ "/unit1" | relative_url }}">Unit 1</a>
    <a class="page-link" href="{{ "/2.1_vector_valued_functions" | relative_url }}">2.1 Vector valued functions</a>
    <a class="page-link" href="{{ "/2.2_calculus" | relative_url }}">2.2 Calculus (vector valued)</a>
    <a class="page-link" href="{{ "/2.3_arc_length" | relative_url }}">2.3 Arc length</a>
    <a class="page-link" href="{{ "/2.4_tangent_normal_binormal" | relative_url }}">2.4 Tangent, normal, binormal</a>
    <a class="page-link" href="{{ "/2.5_motion_conics" | relative_url }}">2.5 Motion (and Conics)</a>
    <a class="page-link" href="{{ "/2.6_polar_conics" | relative_url }}">2.6 Polar Conics</a>
    <a class="page-link" href="{{ "/2.7_kepler" | relative_url }}">2.7 Kepler's Laws</a>
    <a class="page-link" href="{{ "/3.1_functions_several_variables" | relative_url }}">3.1 Functions of Several Variables</a>
    <a class="page-link" href="{{ "/3.2_limits_continuity" | relative_url }}">3.2 Limits and continuity</a>
    <a class="page-link" href="{{ "/3.3_partial_derivatives" | relative_url }}">3.3 Partial derivatives</a>
    <a class="page-link" href="{{ "/3.4_differentiability" | relative_url }}">3.4 Differentiability</a>
    <a class="page-link" href="{{ "/3.5_linear_transformations" | relative_url }}">3.5 Linear transformations</a>
    <a class="page-link" href="{{ "/3.6_chain_rule" | relative_url }}">3.6 Chain rule</a>
</div>
